{% extends 'main/main_base.html' %}

{% block section_icon %}storage{% endblock %}

{% block section_title %}Kasus Tersimpan{% endblock %}

{% block content %}
<div id="white-cover" style="position: fixed; width: 70%; height: 10%; top: 10%; margin: 0 auto; z-index: 9; visibility: hidden; background-color: white;"></div>
<table class="centered responsive-table highlight" id="fixed-table" style="position: fixed; top: 12%; width: 70%; margin: 0 auto; z-index: 10; visibility: hidden;">
    <thead style="background-color: white; ">
        <tr>
            <th style="width: 10%;">ID Kasus</th>
            <th style="width: 35%;">Anamnesa</th>
            <th style="width: 35%;">Teks Ternomalisasi</th>
            <th style="width: 10%;">Kode ICD X</th>
            <th style="width: 10%;">Edit</th>
        </tr>
    </thead>
</table>

<table class="centered responsive-table highlight" id="real-table">
    <thead>
        <tr>
            <th style="width: 10%;">ID Kasus</th>
            <th style="width: 35%;">Anamnesa</th>
            <th style="width: 35%;">Teks Ternomalisasi</th>
            <th style="width: 10%;">Kode ICD X</th>
            <th style="width: 10%;">Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for case in cases %}
        <tr id="case_row_{{case[0]}}">
            <td>{{case[0]}}</td>
            <td>{{case[1]}}</td>
            <td>{{case[2]}}</td>
            <td>{{case[3]}}</td>
            <td>
                <a class="btn waves-effect waves-light green darken-4" href="{{ url_for('main.edit_case', case_id=case[0]) }}">
                    <i class="material-icons">edit</i>
                </a>
                <a id="delete_case_{{case[0]}}" class="btn waves-effect waves-light red darken-4">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large green darken-4 tooltipped" data-position="left" data-tooltip="Kasus Baru" href="{{ url_for('main.new_case') }}">
    <i class="large material-icons">playlist_add</i>
  </a>
</div>

<script>
    // Script for show sticky header table on scroll.
    window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (currentScrollPos > 125) {
            document.getElementById("fixed-table").style.visibility = "visible";
            document.getElementById("white-cover").style.visibility = "visible";
        } 
        else {
            document.getElementById("fixed-table").style.visibility = "hidden";
            document.getElementById("white-cover").style.visibility = "hidden";
        }
    }
</script>
<script>
    // Script for show floating action button.
    document.addEventListener('DOMContentLoaded', function() {
        var elems_btn = document.querySelectorAll('.fixed-action-btn');
        var instances_btn = M.FloatingActionButton.init(elems_btn, {});
        var elems_tip = document.querySelectorAll('.tooltipped');
        var instances_tip = M.Tooltip.init(elems_tip, {});
    });
</script>
<script type="text/javascript">
    // Script for deleting cases asyncronously
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('real-table').querySelectorAll('a.red').forEach(a => {
            a.onclick = () => {
                let case_id = a.id.substring(12);
                const request = new XMLHttpRequest();
                request.open('POST', `/delete_case/${case_id}`);
                request.onload = () => {
                    const element = document.getElementById(`case_row_${case_id}`);
                    element.remove();
                    M.toast({html: request.response});
                };
                request.send();
            };
        });
    });
</script>

{% endblock %}