/* main_base.html */
.card-panel {
    padding: 12px;
}

/* edit_case.html */
.symptoms-form>*:last-child {
    margin-bottom: 0;
}
.browser-default {
    border-bottom: 1px solid #9e9e9e;
    height: 3rem;
    margin: 0 0 8px 0;
}